a {
    color: #FFD700;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

a:hover {
    color: #FFFFFF;
}

.card-content {
    color: #424242;
}

.small .card-image img{
    height: auto !important;
    margin-top: 1rem;
}

.card.horizontal .card-image {
    max-width: 30% !important;
}